aiohttp==3.7.4.post0+computecanada
appdirs==1.4.4+computecanada
arff==0.9+computecanada
argon2-cffi==20.1.0+computecanada
arrow==1.2.1
async-generator==1.10+computecanada
async-timeout==3.0.1+computecanada
attrs==21.2.0+computecanada
audioread==2.1.6+computecanada
backcall==0.2.0
backports-abc==0.5+computecanada
backports.shutil-get-terminal-size==1.0.0+computecanada
bcrypt==3.2.0+computecanada
bitstring==3.1.7+computecanada
bleach==3.3.1+computecanada
blist==1.3.6+computecanada
certifi==2021.5.30+computecanada
cffi==1.14.6+computecanada
chardet==4.0.0+computecanada
charset-normalizer==2.0.2+computecanada
click==8.0.3+computecanada
cryptography==3.4.7+computecanada
cycler==0.10.0+computecanada
Cython==0.29.24+computecanada
datasets==1.17.0
deap==1.3.1+computecanada
debugpy==1.3.0
decorator==5.0.9
defusedxml==0.7.1+computecanada
dill==0.3.4+computecanada
dnspython==2.1.0+computecanada
ecdsa==0.17.0+computecanada
entrypoints==0.3+computecanada
filelock==3.4.0
fsspec==2021.11.1+computecanada
funcsigs==1.0.2+computecanada
huggingface_hub==0.2.1+computecanada
hypothesis==6.32.1
idna==3.2+computecanada
importlib-metadata==3.10.1+computecanada
ipykernel==6.0.1
ipython==7.25.0
ipython-genutils==0.2.0
ipywidgets==7.6.3+computecanada
jedi==0.18.0
Jinja2==3.0.1+computecanada
jiwer==2.3.0
joblib==1.1.0+computecanada
jsonschema==3.2.0+computecanada
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2+computecanada
jupyterlab-widgets==1.0.0+computecanada
kenlm @ https://github.com/kpu/kenlm/archive/master.zip
kiwisolver==1.3.1+computecanada
librosa==0.8.1
llvmlite==0.36.0+computecanada
lockfile==0.12.2+computecanada
MarkupSafe==2.0.1+computecanada
matplotlib==3.4.2+computecanada
matplotlib-inline==0.1.2
mistune==0.8.4+computecanada
mock==4.0.3+computecanada
mpmath==1.2.1+computecanada
multidict==5.1.0+computecanada
multiprocess==0.70.12.2+computecanada
nbclient==0.5.3+computecanada
nbconvert==6.1.0+computecanada
nbformat==5.1.3+computecanada
nest-asyncio==1.5.1+computecanada
netaddr==0.8.0+computecanada
netifaces==0.11.0+computecanada
nose==1.3.7+computecanada
notebook==6.4.0+computecanada
numba==0.53.1+computecanada
numpy==1.21.0+computecanada
packaging==21.0+computecanada
pandas==1.3.0+computecanada
pandocfilters==1.4.3+computecanada
paramiko==2.7.2+computecanada
parso==0.8.2
path==16.0.0+computecanada
path.py==12.5.0+computecanada
pathlib2==2.3.6+computecanada
paycheck==1.0.2+computecanada
pbr==5.6.0+computecanada
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1+computecanada
pooch==1.5.2
prometheus-client==0.11.0+computecanada
prompt-toolkit==3.0.19
ptyprocess==0.7.0
pyarrow==5.0.0
pycparser==2.20+computecanada
pyctcdecode==0.2.1
Pygments==2.9.0
pygtrie==2.3.2+computecanada
PyNaCl==1.4.0+computecanada
pyparsing==2.4.7+computecanada
pyrsistent==0.18.0+computecanada
python-dateutil==2.8.1
python-Levenshtein==0.12.2+computecanada
pytz==2021.1+computecanada
PyYAML==6.0+computecanada
pyzmq==22.1.0
regex==2021.7.6+computecanada
requests==2.26.0+computecanada
resampy==0.2.2+computecanada
sacremoses==0.0.46+computecanada
scikit_learn==1.0.1+computecanada
scipy==1.7.0+computecanada
Send2Trash==1.7.1+computecanada
simplegeneric==0.8.1+computecanada
singledispatch==3.6.2+computecanada
six==1.16.0
sortedcontainers==2.4.0+computecanada
SoundFile==0.10.3.post1+computecanada
sympy==1.8+computecanada
terminado==0.10.1+computecanada
testpath==0.5.0+computecanada
threadpoolctl==3.0.0+computecanada
tokenizers==0.10.3+computecanada
torch==1.8.1+cu102
torchaudio==0.10.0+computecanada
tornado==6.1
tqdm==4.62.3
traitlets==5.0.5
transformers==4.15.0
typing-extensions==3.10.0.0+computecanada
urllib3==1.26.6+computecanada
wcwidth==0.2.5
webencodings==0.5.1+computecanada
widgetsnbextension==3.5.1+computecanada
xxhash==2.0.2+computecanada
yarl==1.6.3+computecanada
zipp==3.5.0+computecanada
